{% extends "index.html" %}

{% block content %}
	<div style="width: 100%;">
		<div>
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			  <a class="navbar-brand" href="#">Welcome {{user}}!</a>
			  <form class="form-inline ml-auto my-2 my-lg-0" action="/logout">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
			   </form>
			</nav>
		</div>

		<br />
		
		<div class="row justify-content-center">
			
				<form class="form-inline col-10" action="/search">
					{% if query %}
						<input class="form-control col-10" type="text" name="query" placeholder="Enter text.." value={{ query }} required>
					{% else %}
						<input class="form-control col-10" type="text" name="query" placeholder="Enter text.." required>
					{% endif %}
					<!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
      				<button class="btn btn-outline-success col-2 my-sm-0" type="submit">Search</button> 
				</form>
		</div>
		
		<br />
		{% if results %}
		<div class="row justify-content-center">
		<div class="col-10">
			<div class="card" style="margin-left: 1px; margin-right: 1px;">
					<div class="card-block">
						<h4 class="card-title"> Search Results </h4>
						<p class="card-text"> Click on the news to read details..</p>
					</div>
					<ul class="list-group list-group-flush">
						{% for item in results %}
							<a href="/document/{{item.id}}" target="_blank">
								<li class="list-group-item">{{ item.title }}</li>		
							</a>
						{% endfor %}
					</ul>
				
			</div>
		</div>
			</div>
			
		{% endif %}
	</div>
{% endblock %}