{% extends "index.html" %}

{% block content %}
		<h1>Hello {{ user }}!</h1>
		<h2>You are at dashboard</h2>

		<form action="/search">
			{% if query %}
				<input type="text" name="query" placeholder="Enter text.." value={{ query }} required>
			{% else %}
				<input type="text" name="query" placeholder="Enter text.." required>
			{% endif %}
			<input type="Submit" name="submit" value="Search">
		</form>

		{% if results %}
		<table style="width:100%">
			<tr>
				<th>Ralated news</th>
			</tr>

			{% for item in results %}
				<tr>
					<td>
						<a href="/document/{{item._id}}" target="_blank">
							{{item._id}}
						</a>
					</td>
				</tr>
			{% endfor %}
			
		</table >
		{% endif %}
{% endblock %}