{% extends "index.html" %}

{%block content %}

	<div style="margin-top:100px; width: 60%" class="justify-content-center">
		<div class="card">
		<div style="display:flex; margin-top: 2%" class="justify-content-center">
		<h4 class="card-title">Login</h4>
		</div>
		{% if error %}
				<p style="margin-left: 2%; color: red">{{error}}</p>
		{% endif %}
		<form method="POST">
		<div style="display: flex;" class="justify-content-center">
			<input type="text" name="username" placeholder="username" style="margin-top: 2%; width: 90%;" required>
		</div>

		<br>
		
		<div style="display: flex;" class="justify-content-center">
			<input type="password" name="password" placeholder="password" style="margin-top: 2%; width:90%" required>
		</div>
		<br>
		<div style="margin-left: 2%;">
			<label for="remember_me">Remember Me</label>
			<input type="checkbox" name="remember_me" id="remember_me">
		</div>
	
		<div style="display: flex; margin-bottom: 2%; margin-top: 2%;" class="justify-content-center">
			<input type="submit" name="submit" value="Login" class="btn btn-primary" style="margin-right: 1%;">
			<input type="button" name="submit" value="Register" class="btn btn-primary" onclick="window.location.href='/register'" style="margin-left: 1%;">
		</div>
		</form>
		</div>
	</div>
{% endblock %}