{% extends "index.html" %}

{%block content %}
	<div style="margin-top:100px; width: 60%" class="justify-content-center">
		<div class="card">
		<div style="display:flex; margin-top: 2%" class="justify-content-center">
		<h4 class="card-title">Register</h4>
		</div>
		{% if error %}
				<p style="color: red; margin-left:2%">{{error}}</p>
		{% endif %}
		<form method="POST">
		<div style="display: flex;" class="justify-content-center">
			<input type="text" name="username" placeholder="Username" style="margin-top: 2%; width: 90%;" required>
		</div>

		<br>

		<div style="display: flex;" class="justify-content-center">
			<input type="text" name="firstname" placeholder="First Name" style="margin-top: 2%; width: 90%" required>
		</div>
			
		<br>

		<div style="display: flex;" class="justify-content-center">
			<input type="text" name="lastname" placeholder="Last Name" style="margin-top: 2%; width:90%" required>
		</div>

		<br>

		<div style="display: flex;" class="justify-content-center">
			<input type="email" name="email" placeholder="Email" style="margin-top: 2%; width:90%" required>
		</div>

		<br>
		
		<div style="display: flex;" class="justify-content-center">
			<input type="password" name="password" placeholder="Password" style="margin-top: 2%; width:90%" required>
		</div>

		<br>
			
		<div style="display: flex;" class="justify-content-center">
			<input type="password" name="confirm_password" placeholder="Confirm Password" style="margin-top: 2%; width:90%" required>
		</div>
		<br>
	
		<div style="display: flex; margin-bottom: 2%;" class="justify-content-center">
			<input type="submit" name="Register" value="Register" style="margin-top: 2%">
		</div>
		</form>
		</div>
	</div>
{% endblock %}